*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: var(--black);
    transition: 0.3s;
}

button{
    border: 0;
    background: none;
    cursor: pointer;
}
:root {
    --yellow: #F8B602;
    --light_yellow: #FAC841;
    --black: #2E2E2E;
    --gray: #A098AE;
    --light_gray: #f5f5f5;
  }

h2{
    font-size: 24px;
}
.container{
    display: flex;
    /* padding: 0 50px; */
}

nav{
    height: 100vh;
    position: fixed;
    background-color: white;
    width: 18%;
}
nav .container{
    height: 100%;
    padding: 55px 40px 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.logo{
    /* font-family: 'Montserrat', sans-serif; */
    position: absolute;
    font-size: 40px;
    font-weight: 900;
    text-decoration: none;
    top: 48px;
    left: 40px;
}
.nav_links{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    text-align: center;
}

.nav_link{
    padding: 20px;
    text-decoration: none;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.3s;
    border-radius: 16px;
}

.active{
    color: white;
    background: var(--yellow);
    fill: white;
}

.promo{
    position: absolute;
    bottom: 10px;
    text-align: center;
    background-color: var(--yellow);
    padding: 10px 20px 15px 20px;
    border-radius: 16px;
    transition: 0.7s;
}
.promo_text{
    color:white;
    font-weight: 500;
}
.promo i{
    position: absolute;
    color: white;
    top: 8px;
    right: 5px;
    
}
.promocode{
    background-color: white;
    border-radius: 16px;
    padding: 10px 0;
    margin-top: 15px;
    font-weight: 600;
}

.closed{
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}


.main{
    padding: 62px 40px 0px 40px;
    background-color: var(--light_gray);
    /* width: 60.3vw; */
    width: 58.9%;
    margin-left: 18vw;
}

.nav_link:hover{
    color: white;
    background: var(--light_yellow);
    fill: white;
}

.nonactive{
    fill: var(--gray);
}

#hello-el{
    font-size: 30px;
    font-weight: 700;
}


.main_banner{
    margin: 40px 0;
    height: 240px;
    width: 100%;
    border-radius: 16px;
    /* background-color: var(--yellow); */
    background-image: url('../img/banner.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.banner_text{
    position: relative;
    top: 30px;
    line-height: 1.5;
    left: 50px;
    color: white;
    font-weight: 700;
    font-size: 32px;
}
.categories_top{
    display: flex;
    justify-content: space-between;
}
.categories_top button:hover{
    text-decoration: underline;
}
.categories{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 15px;
    margin: 24px 0 40px;
    justify-content: space-between;
    /* grid-template-columns: repeat(6, 160px); */
}
.category{
    cursor: pointer;
    height: 135px;
    width: 160px;
    display: flex;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    background: white;
    color: var(--gray);
    transition: 0.4s;
}

.category:hover{
    background: var(--light_yellow);
    scale: 95%;
}
.category img{
    height: 40px;
}

.menu{
    margin: 24px 0 40px;
    display: grid;
    grid-template-columns: repeat(4, 246px);
    gap: 16px;
    justify-content: center;
}

.dish{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    background: white;
    padding: 23px;
    text-align: center;
}
.dish img{
    width: 200px;
    height: 150px;
    border-radius: 16px;
    object-fit:contain;
}

.dish_price{
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
    font-weight: 500;
}

.dish_price::first-letter{
    color: var(--yellow);
}

.dish_buttons{
    display: flex;
    background-color: var(--yellow);
    border-radius: 16px;
}

.dish_button{
    color: white;
    font-weight: 700;
    padding: 15px;
}
.minus:hover{
    background-color: var(--light_yellow);
    border-radius: 16px 0 0 16px;
}

.plus:hover{
    background-color: var(--light_yellow);
    border-radius: 0 16px 16px 0;
}

.cart{
    position: fixed;
    overflow-y: scroll;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 62px 40px 55px 40px;
    width: 23.7%;
    background-color: white;
}

.cart_top_buttons{
    display: flex;
    gap: 15px;
}

.cart_top_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.id_photo{
    height: 60px;
    width: 60px;
    border-radius: 16px;
}

.address_title{
    color: var(--gray);
    font-weight: 400;
    margin-top: 32px;
}
.address{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
.address_text{
    display: flex;
    align-items: center;
    gap: 5px;
}
.address_change_btn{
    font-size: 15px;
    padding: 5px 15px;
    color: var(--yellow);
    border-radius: 8px;
border: 1px solid var(--yellow);
transition: 0.3s;
}

.address_change_btn:hover{
    background-color: var(--yellow);
    color: white;
}
.order_details{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order_details_product{
    display: grid;
    grid-template-columns: 80px 125px 60px auto auto;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.order_details_product:last-child{
    margin-bottom: 60px;
}
.cart_empty_message{
    text-align: center;
}
.order_details_product img{
    height: 60px;
}
.order_details_title{
    font-weight: 600;
}

.order_details_quantity{
    font-size: 14px;
    font-weight: 400;
    color: var(--gray);
}

.order_details .dish_button{
    padding: 8px;
}

.close_button{
    color: red;
}

.service_tax{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    align-items: c;
}

.service_title{
    color: var(--gray);
    font-size: 14px;
    font-weight: 500;
}
.service_price{
    font-weight: 500;
}
.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.total_title{
    font-weight: 500;
}

.total_price{
    font-size: 24px;
    font-weight: 500;
}


.checkout_btn{
    padding: 15px 20px;
    width: 100%;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 16px;
    font-weight: 500;
    background-color: var(--yellow);
}

.checkout_btn:hover{
    background-color: var(--light_yellow);
}

.bi-dash, .bi-plus{
    color: white
}

/* модальное окно заказа */

.modalWindow{
    position: fixed;
    margin: auto;
    background-color: white;
    padding: 45px;
    padding-bottom: 25px;
    border: none;
    border-radius: 16px;
    width: 500px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.358);
    z-index: 1;
}
.modalWindow form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalWindow h2{
text-align: center;
padding-bottom: 10px;
}

#close-form-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#close-form-btn:hover{
    background-color: var(--light_yellow);
    scale: 97%;
}

input{
    outline: none;
    padding: 5px;
    border: 1.5px solid var(--gray);
    border-radius: 10px;
    margin-bottom: 10px;
}
input:focus-visible{
    border: 1.5px solid var(--yellow);
}

.radioBlock{
    display: flex;
    justify-content: space-around;
}

.radio{
    cursor: pointer;
}

.promocodeBlock{
    display: flex;
    
    gap: -5px;
}
.promocode_box{
    height: 35px;
    width: 70%;
    border-radius:  16px 0 0 16px;
}
.promocode_btn{
    height: 35px;
    width: 30%;
    color: white;
    border-radius:  0 16px 16px 0;
    font-weight: 500;
    background-color: var(--yellow);
}

@media (max-width: 1700px){
    .menu{
        grid-template-columns: repeat(3, 246px);
    }
}

@media (max-width: 1550px){
    *{
        font-size: 16px;
    }
    .category{
        height: 100px;
        width: 100px;
    }
    .category img{
        height: 30px;
    }
    .main_banner{
        height: 200px;
    }
    .banner_text{
        font-size: 24px;
    }
    .order_details_product img{
        height: 50px;
    }
    .logo{
        font-size: 30px;
        top: 55px;
    }
    #hello-el{
        font-size: 28px;
    }
    h2{
        font-size: 20px;
    }
    .order_details_product{
        grid-template-columns: 60px 100px 55px auto 10px;
    }
    .order_details .dish_button{
        padding: 8px 6px;
    }
    .order_details_product:last-child{
        margin-bottom: 50px;
    }
    .service_tax{
        margin-bottom: 20px;
    }
    .nav_link{
        padding: 15px;
    }
    .nav_link svg{
        height: 30px;
    }
}

@media (max-width: 1400px){
    .menu{
        grid-template-columns: repeat(2, 246px);
    }
    .categories{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 160px);
    }

    .logo{
        font-size: 25px;
        top: 55px;
    }

}

@media (max-width: 950px){
    .menu{
        grid-template-columns: repeat(1, 246px);
    }
    .categories{
        grid-template-columns: repeat(3, 160px);
    }
}
